<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="{{ static('favicon.ico') }}" />
    <title>{% block title %}Homewatch{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ static('master.css') }}" />
    {% endblock styles %}
    {% block scripts %}
    <script src="{{ static('master.js') }}"></script>
    {% endblock scripts %}
</head>

<body>
    {% block header %}
    <header class="navbar">
        <nav class="navbar-items">
            {% block navbar_items %}
            <a class="navbar-item" href="{{ url('/') }}" id="location">Homewatch</a>
            {% endblock navbar_items %}
        </nav>
        <div class="navbar-menu menu">
            <span class="menu-icon"><i class="icon icon-vdots"></i></span>
            <div class="menu-items">
                {% block navbar_menu %}
                <a class="menu-item" href="{{ url('about') }}">À propos</a>
                {% if playermode %}
                <hr>
                <a class="menu-item" id="link-waiting-screen">Écran d'attente</a>
                <a class="menu-item" href="{{ url('web') }}">Lecteur web</a>
                <a class="menu-item" id="link-shutdown">Éteindre</a>
                {% endif %}
                {% endblock navbar_menu %}
            </div>
        </div>
    </header>
    {% endblock header %}
    <div class="{% block baseclass %}{% endblock baseclass %}">{% block content %}{% endblock content %}</div>

{% if playermode %}
<template id="template-modal-shutdown">
    <div class="modal modal-shutdown">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <img class="modal-background" />
            <button class="modal-button-close"><i class="icon icon-cross"></i></button>
            <div class="modal-body">
                <div class="modal-buttons">
                    <button href="{{ url('api', 'close') }}?hooks=0">Éteindre le serveur</button>
                    <button href="{{ url('api', 'close') }}?hooks=1">Éteindre et exécuter les scripts</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="template-modal-waiting-screen">
    <div class="modal modal-waiting-screen">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <img class="modal-background" />
            <button class="modal-button-close"><i class="icon icon-cross"></i></button>
            <div class="modal-body">
                <h4>Écran de veille</h4>
                <div class="modal-buttons">
                    <button href="{{ url('api', 'wait') }}?show=1">Afficher</button>
                    <button href="{{ url('api', 'wait') }}?show=0">Masquer</button>
                </div>
            </div>
        </div>
    </div>
</template>
{% endif %}

</body>

</html>
