{% extends "base.html" %}

{% block title %}{% if library.name %}{{ library.name | title }}{% else %}Bibliothèque{% endif %} ∣ {{ super() }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ static('library.css') }}" />
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script src="{{ static('library.js') }}"></script>
<script>
    const FOLDER = "{{ url(library.path)[1:] }}";
    const PLAYERMODE = {{ playermode | lower }};
    const API_URL = "{{ url('api') }}";
    const CAST_URL = "https://chalier.fr/cast/cast.html";
    const ENABLE_CHROMECAST = {{ enable_chromecast | lower }};
</script>
{% endblock scripts %}

{% block navbar_items %}
{% if library.name %}
<a class="navbar-item" href="{{ url('library', library.parent) }}"><i class="icon icon-arrow-left"></i></a>
<span class="navbar-item">{{ library.name | title }}</span>
{% else %}
<span class="navbar-item">Bibliothèque</span>
{% endif %}
{% endblock navbar_items %}

{% block navbar_menu %}
{% if playermode %}
{% if not embedded %}
<a href="{{ url('player') }}" class="menu-item">Lecteur</a>
{% endif %}
<span id="button-play-folder" class="menu-item">Lire ce dossier</span>
<span id="button-viewed-folder" class="menu-item">Marquer ce dossier comme vu</span>
<span id="button-unviewed-folder" class="menu-item">Marquer ce dossier comme non vu</span>
{% endif %}
{{ super() }}
{% endblock navbar_menu %}

{% block content %}
<div class="library">
    {% if library.subfolders or library.playlists %}
    <div class="library-section">
        {% for subfolder in library.subfolders %}
        <a class="library-element subfolder {% if playermode and subfolder.done %}done{% endif %}" href="{{ url('library', library.path, subfolder.basename) }}">
            <div class="subtitle">
                {% for part in subfolder.subtitle %}
                <span class="subtitle-item">{{ part }}</span>
                {% endfor %}
            </div>
            <div class="title">{{ subfolder.title }}</div>
            {% if playermode and subfolder.duration %}
            <progress class="library-progress" min="0" value="{{ subfolder.progress }}" max="{{ subfolder.duration }}"></progress>
            {% endif %}
        </a>
        {% endfor %}
        {% for playlist in library.playlists %}
        <div class="library-element playlist" path="{{ url(library.path, playlist.basename)[1:] }}">
            <div class="title">{{ playlist.title }} ({{ playlist.size }})</div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if library.medias %}
    <div class="library-section library-filters">
        <span class="library-filter-label">Tri</span>
        <select class="library-sort">
            <option value="default" selected>Défaut</option>
            <option value="title">Titre</option>
            <option value="director">Réal.</option>
            <option value="year">Année</option>
            <option value="duration">Durée</option>
        </select>
        <span class="library-filter-label">Filtres</span>
        {% if playermode %}<span class="library-filter" filter="0">Non vu</span>{% endif %}
        {% if enable_chromecast %}<span class="library-filter" filter="3"><i class="icon icon-chromecast"></i></span>{% endif %}
        {% if not playermode %}<span class="library-filter" filter="4"><i class="icon icon-webvideo"></i></span>{% endif %}
        <span class="library-filter" filter="1">{{ preferred_media_language_flag }}</span>
    </div>
    <div class="library-section library-medias">
        {% for m in library.medias %}
            <div class="media-wrapper">
                <div class="media"
                     type='{{ m.media_type_string }}'
                     {% if m.counter %}counter="{{ m.counter }}"{% endif %}
                     {% if m.season %}season="{{ m.season }}"{% endif %}
                     {% if m.episode %}episode="{{ m.episode }}"{% endif %}
                     {% if m.director %}director="{{ m.director }}"{% endif %}
                     {% if m.year %}year="{{ m.year }}"{% endif %}
                     duration="{{ m.duration_ms }}"
                     path="{{ url(library.path, m.basename)[1:] }}"
                     href="{{ media(library.path, m.basename) }}"
                     index="{{ loop.index }}">
                    <div class="media-body">
                        <img class="media-poster" loading="lazy" src="{{ media(library.path, m.thumbnail) }}" />
                        <div class="media-overlay"></div>
                    </div>
                    <div class="media-info">
                        <div class="subtitle">
                            {% if m.counter %}<span class="subtitle-item">#{{ m.counter }}</span>{% endif %}
                            {% if m.season %}<span class="subtitle-item">Saison {{ m.season }}</span>{% endif %}
                            {% if m.episode %}<span class="subtitle-item">Épisode {{ m.episode }}</span>{% endif %}
                            {% if m.director %}<span class="subtitle-item">{{ m.director }}</span>{% endif %}
                            {% if m.year %}<span class="subtitle-item">{{ m.year }}</span>{% endif %}
                            <span class="subtitle-item">{{ m.duration_display }}</span>
                        </div>
                        <div class="title">{{ m.title }}</div>
                        {% if playermode %}<progress class="library-progress" min="0" value="{{ [m.progress, m.duration_ms] | min }}" max="{{ m.duration_ms }}"></progress>{% endif %}
                    </div>
                    <div class="media-badges">
                        {% if m.is_visible_in_browser and not playermode %}<span class="media-badge media-badge-icon media-badge-html5"><i class="icon icon-webvideo"></i></span>{% endif %}
                        {% if enable_chromecast and m.is_castable %}<span class="media-badge media-badge-icon media-badge-chromecast"><i class="icon icon-chromecast"></i></span>{% endif %}
                        {% if m.has_preferred_language %}<span class="media-badge media-badge-language">{{ preferred_media_language_flag }}</span>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if (not library.medias) and (not library.subfolders) and (not library.playlists) %}
    <p class="container">
        Ce dossier est vide 🥸
    </p>
    {% endif %}
</div>

<template id="template-media-details">
    <div class="modal modal-media-details">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <img class="modal-background" />
            <button class="modal-button-close"><i class="icon icon-cross"></i></button>
            <div class="modal-body">
                <div class="modal-info">
                    <div class="subtitle"></div>
                    <div class="title"></div>
                </div>
                <div class="modal-buttons">
                    {% if playermode %}
                    <button class="media-details-play">Lire</button>
                    <button class="media-details-queue">Lire ensuite</button>
                    <button class="media-details-resume">Reprendre</button>
                    <button class="media-details-viewed">Marquer comme vu</button>
                    <button class="media-details-unviewed">Marquer comme non vu</button>
                    {% endif %}
                    <a class="button media-details-url">Lien</a>
                    {% if enable_chromecast %}
                     
                    <a class="button media-details-cast">Cast</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</template>
{% endblock content %}
