__pycache__

*.ipynb
*.pyc
*.dll
*.json
*.log

history
sample
!sample/Big Buck Bunny (Blender Foundation, 2014).mp4
!sample/Sintel (Blender Foundation, 2010).en.srt
!sample/Sintel (Blender Foundation, 2010).fr.srt
!sample/Sintel (Blender Foundation, 2010).mp4

.extensions
geckodriver*