/**
 * Component: library
 */

.library {
    height: 100%;
    overflow-y: auto;
    padding: 1rem 0 0 0;
}

.library-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.library-element {
    position: relative;
    margin-right: .4rem;
    margin-bottom: .4rem;
    border-radius: .4rem;
    background: var(--background-secondary);
    padding: .4rem .6rem;
    min-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.library-element.subfolder.done {
    background: var(--accent-dark);
    color: var(--text-tenuous);
}

.library-element.subfolder.done:hover {
    background: var(--accent-hover);
}

.library-element.playlist {
    cursor: pointer;
    background: var(--background-secondary);
}

.library-filters {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4rem;
    align-items: center;
}

.library-filter-label {
    border-radius: .4rem;
    padding: .4rem 0;
    user-select: none;
    color: var(--text-tenuous);
}

.library-sort,
.library-filter {
    border-radius: .4rem;
    border: none;
    background: var(--background-secondary);
    padding: .4rem;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.library-element:hover,
.library-filter:hover {
    background: var(--background-secondary-hover);
}

.library-filter.active {
    background: var(--accent);
}

.library-filter.active:hover {
    background: var(--accent-hover);
}

.library-medias {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
}

.library-progress {
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--background-tertiary);
}

.library-progress::-moz-progress-bar {
  background: var(--accent);
}

/**
 * Component: media
 */

.media-wrapper {
    width: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.media {
    position: relative;
    border-radius: .4rem;
    overflow: hidden;
    color: var(--text-primary);
    user-select: none;
    cursor: pointer;
    aspect-ratio: 2/3;
}

.media.done:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-dark);
    opacity: .5;
}

.media.done:hover:after {
    opacity: .25;
}

.media-body {
    position: relative;
    height: 100%;
    width: 100%;
}

.media-poster {
    width: 100%;
}

.media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, transparent 30%, var(--background-primary) 100%);
}

.media-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 .4rem .4rem .4rem;
    width: 100%;
}

.media-badges {
    position: absolute;
    top: .4rem;
    right: .4rem;
}

.media-badge {
    background: rgba(0, 0, 0, 0.6);
    padding: .2rem .4rem;
    border-radius: .4rem;
}

.media-badge-icon {
    position: relative;
}

.media-badge-icon .icon {
    position: relative;
    top: -2px;
    left: 1px;
}

/**
 * Responsive layout
 */

@media (min-width: 500px) {
    .media-wrapper {
        width: 11.9em;
    }

    .modal-container {
        max-width: 500px;
        left: calc(50% - 250px);
    }
}
