/**
 * Component: library
 */

.library {
    height: 100%;
    overflow-y: auto;
    padding: 1rem 0 0 0;
}

.library-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.library-element {
    position: relative;
    margin-right: .4rem;
    margin-bottom: .4rem;
    border-radius: .4rem;
    background: #101010;
    padding: .4rem .6rem;
    min-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.library-element.subfolder.done {
    background: #0c0c23;
    color: #888;
    outline: 1px solid black;
}

.library-element.playlist {
    cursor: pointer;
    background: #283244;
    /*color: #101010;*/
}

.library-filters {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4rem;
    align-items: center;
}

.library-filter-label {
    border-radius: .4rem;
    padding: .4rem 0;
    user-select: none;
    color: #787878;
}

.library-sort,
.library-filter {
    border-radius: .4rem;
    border: none;
    background: #283244;
    padding: .4rem;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.library-filter.active {
    background: #38369A;
}

.library-medias {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
}

.library-progress {
    height: .2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3b3b3b;
}

.library-progress::-moz-progress-bar {
  background: #38369A;
}

/**
 * Component: media
 */

.media-wrapper {
    width: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.media {
    position: relative;
    box-sizing: border-box;
    border-radius: .4rem;
    overflow: hidden;
    color: #f0f0f0;
    user-select: none;
    cursor: pointer;
    aspect-ratio: 2/3;
}

.media-body {
    position: relative;
    height: 100%;
    width: 100%;
}

.media-poster {
    width: 100%;
}

.media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #10101000 0%, #10101000 30%, #101010ff 100%);
}

.media-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 .4rem .4rem .4rem;
    width: 100%;
    box-sizing: border-box;
}

.media-badges {
    position: absolute;
    top: .4rem;
    right: .4rem;
}

.media-badge {
    background: rgba(0, 0, 0, 0.6);
    padding: .2rem .4rem;
    border-radius: .4rem;
}

.media-badge-icon {
    position: relative;
}

.media-badge-icon .icon {
    position: relative;
    top: -2px;
    left: 1px;
}

/**
 * Responsive layout
 */

@media (min-width: 500px) {
    .media-wrapper {
        width: 11.9em;
    }

    .modal-container {
        max-width: 500px;
        left: calc(50% - 250px);
    }
}
